:root{
    --principal-bg-color:#f8f9fa;
    --search-bg-color:#e5e5e5;
    --top-main-badge-color:#165bba;
    --sidebar-bg-color:#051e34;
}



/* Debug*/

/* inizio CSS */

header{
    height: 70px;
    background-color: var(--principal-bg-color);
}

header nav .ms_button{
    text-align: center;
    width: 20px;
    display: none;
    color: gray;
}

.ms_button_bell{
    text-align: center;
    width: 40px;
    display: inline-block;
}


header nav form{
    width: calc(100% - 100px);
}

header nav form .ms_color_bg{
    background-color: var(--search-bg-color);
}

.ms_header_logo{
    width: 40px;
}

.ms_header_logo_dnone{
    display: none;
    width: 120px;
}



main{
    padding-top: 70px;
    height: 100vh;
}

aside{
    width: 50px;
    height: 100%;
    background-color: var(--sidebar-bg-color);
    background-image: url(../img/sidebar-bg.png);
}

aside div .d-flex:hover{
    background-color: white;
    color: black;
}



.principal_main{
    width: calc(100vw - 50px);
    background-color: var(--principal-bg-color);
}


.principal_main table th:first-child{
    width: calc(100% - 200px);
}

.principal_main table th:nth-child(1n+3){
    width: 50px;
}

.principal_main table th:nth-child(2),.principal_main table tr td:nth-child(2),.principal_main table tr td:last-child{
    width: 110px;
}

.principal_main table td:first-child,.principal_main table th:first-child{
    text-align: start;
    min-width: 120px;
}

.principal_main table tr th:nth-child(2),.principal_main table tr td:nth-child(2),.principal_main table tr th:nth-child(3),.principal_main table tr td:nth-child(3){
    display: none;
}

.ms_bg_badge{
    background-color: var(--top-main-badge-color);
}

.ms_badge_dnone{
    display: none;
}

.ms_width_img{
    width: 30px;
}

#ms_top_aside span,#ms_bottom_aside span{
    display: none;
}

.offcanvas.offcanvas-end{
    width: 100%;
}


@media screen and (min-width:576px){
    aside{
        width: 150px;
    }

    .principal_main{
        width: calc(100% -150px);
    }

    #ms_top_aside span,#ms_bottom_aside span{
        display: block;
    }

    .principal_main table tr th:nth-child(3),.principal_main table tr td:nth-child(3){
        display:table-cell;
    }

    .offcanvas.offcanvas-end{
        width: 800px;
    }
    
}

@media screen and (min-width:700px){
    .principal_main table tr th:nth-child(2),.principal_main table tr td:nth-child(2){
        display:table-cell;
    }
    
}


@media screen and (min-width:768px){
    .ms_header_logo_dnone{
        display: block;
        width: 100px;
    }

    .ms_header_logo{
        display: none;
    }

    header nav .ms_button{
        display: inline-block;
    }

    header nav form {
        width: calc(100% - 250px);
    }

    
}

@media screen and (min-width:1200px){
    
    .ms_badge_dnone{
        display: inline;
    }

    .ms_badge{
        display: none;
    }
}
