/* Debug*/

.debug header{
    background-color: yellowgreen;
}

.debug aside{
    background-color: blue;
}

.debug .principal_main{
    background-color: aquamarine;
}

.debug .principal_main>.col-12{
    height: 130px;
}

/* inizio CSS */

header{
    height: 70px;
}

header nav .ms_logo{
    width: 50px;
}
header nav .ms_button{
    width: 20px;
}
header nav form{
    width: calc(100% - 250px);
}

main{
    padding-top: 70px;
    height: 100vh;
}

aside{
    width: 50px;
    height: 100%;
}

.principal_main{
    width: calc(100vw - 50px);
}


.principal_main table th:first-child{
    width: calc(100% - 200px);
}

.principal_main table th:nth-child(1n+2){
    width: 50px;
}

.principal_main table tr th:nth-child(2),.principal_main table tr td:nth-child(2),.principal_main table tr th:nth-child(3),.principal_main table tr td:nth-child(3){
    display: none;
}


#ms_top_aside span,#ms_bottom_aside span{
    display: none;
}


@media screen and (min-width:576px){
    aside{
        width: 150px;
    }

    .principal_main{
        width: calc(100% -150px);
    }

    #ms_top_aside span,#ms_bottom_aside span{
        display: block;
    }

    .principal_main table tr th:nth-child(3),.principal_main table tr td:nth-child(3){
        display:table-cell;
    }
    
}

@media screen and (min-width:700px){
    .principal_main table tr th:nth-child(2),.principal_main table tr td:nth-child(2){
        display:table-cell;
    }
    
}